// Checkear Arduino fonts. 
// http://arduino.cc/fonts/fonts.css

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import "../../../bower_components/bourbon/dist/bourbon";


// Colores
// 
$sensores: #7c00ff;

$white: #fff;
$blue: #007EE5;
$grey: #7B8994;
$lightGrey: #A3ABAE;


// Include theme-specific fonts

//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic|Oswald:300,400,700|Inconsolata:400,700);

@include font-face('Typsansmono Light', '../../lib/font/typsansmono-light');
@include font-face('Typsansmono Regular', '../../lib/font/typsansmono-regular');
@include font-face('Typsansmono Text', '../../lib/font/typsansmono-text');
@include font-face('Typsansmono Medium', '../../lib/font/typsansmono-medium');
@include font-face('Typsansmono Bold', '../../lib/font/typsansmono-bold');



// typoninesanspro-light
// typoninesanspro-regular
// typoninesanspro-text
// typoninesanspro-medium
// typoninesanspro-bold

// font-family: 'Inconsolata', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Oswald', sans-serif;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Typsansmono Regular', 'Helvetica Neue', 'Helvetica', sans-serif;
$mainColor: #000;
$headingFont: 'Typsansmono Light', 'Helvetica Neue', 'Helvetica', sans-serif;
$headingColor: #000;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: $white;
$linkColor: #00008B;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);




.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: $headingMargin;
    color: $headingColor;
    line-height: $headingLineHeight;
    letter-spacing: $headingLetterSpacing;
    text-shadow: none !important;
}

.reveal h1 {
    max-width: 100%;
    font-size: 3em;
    font-weight: 700;
    font-family: $headingFont !important;
    letter-spacing: -1.2em;
    text-align: center;
    line-height: 1.055em !important;
    padding-top: 20px;
    text-transform: uppercase !important;
}
h1.claim {
    max-width: 100%;
    font-size: 2.5em;
    font-weight: 400;
    font-family: $headingFont !important;
    letter-spacing: -1.2em;
    text-align: center;
    // text-transform: none !important;
}

.invertido {
    color: $white !important;
    text-transform: none !important;
}

h1.quote {
    max-width: 100%;
    font-size: 2em;
    font-family: $headingFont !important;
    letter-spacing: -1.2em;
    text-align: center;
    // text-transform: none !important;
}
h3 {
    font-size: 2em;
    font-family: $headingFont !important;
    letter-spacing: -1.2em;
    line-height: 1.055em !important;
}

h4.quote {
	max-width: 100%;
    font-size: 1.4em !important;
    font-family: $headingFont !important;
    letter-spacing: -1em;
    line-height: 1.02em !important;
    color: #444 !important;
}


.highlight {
    background-color: black !important;
    color: $white !important;
}

.author {
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin: 0px;
        float: left;
    }

}

ul.us {

    li {
        padding: 10px;
    }

    img {
        border: none !important;
        @include border-top-radius(250px);
        @include border-bottom-radius(250px);
        @include border-left-radius(250px);
        @include border-right-radius(250px);
    }

    p {
        text-align: center;
    }
}

ul.company {

    li {
        padding: 10px;
    }
}


img {
    border: none !important;
    box-shadow: none !important;
}



.objetivo {
	position: absolute;
	top: -250px;
	right: -230px;
	text-align: right;
	// border: 1px solid red !important;
}

#posicion {
    position: absolute;
    bottom: 250px;
    right: 0;
    color: $mainColor;
    .numero {
        text-align: center;
        font-family: $mainFont;
        font-size: 4.8em;
        padding-right: 15px;
        padding-bottom: 10px;
    }
    .separador {
        display: block;
        width: 180px;
        
    &.parte-uno {
        border-top: 5px solid $sensores;
        }
    }
    .leyenda {
        font-family: $headingFont;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 70%;
        margin: 0 auto;
        display: block;
    }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------