
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>R/GA Global Noise Round</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    
    <div >
      <svg id="chart"></svg>
    </div>
    <div class="valor">
    </div>
    
  </body>
  
  
  
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="js/viz.js"></script>
  
</html>
